
/* Add a subtle underline on hover */
Button:hover {
    -fx-text-fill: #ffeb3b;
}

#btnOne , #btnTwo, #btnThree , #addUser{
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-font-weight: bold;

    -fx-font-family: "Arial";

    -fx-cursor: hand;
}


/* Add a glowing effect when focused */
Button:focused {
    -fx-text-fill: #ff9800;
    -fx-effect: dropshadow(three-pass-box, rgba(255,152,0,0.8), 8, 0, 0, 0);
}
